<header class="masthead clearfix masthead-bg-color">
  <div class="inner">
    <h3 class="masthead-brand no-underline-home brand-color"><%= link_to "Supe Lillywhite", root_path %></h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</header>