<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">

    <%= image_tag "brianhead.jpg", width: 300, alt: "Profile Image" %>
  </div>
  <div class="col-md-8">
    <p>With over two full weeks of experience in developing web apps, I'm pretty much the greatest choice in the world to build your site. What could go wrong?</p>

    <p>Regardless of my experience level, you can be sure that your site will be put together carefully, thoughtfully and that I'll come up with some cool ideas to make your site standout from your competitors.</p>
  </div>
</div>