<div class="app-card-container contact-card">
  <div class="card">
    <h1>Call me for a good time... building your website</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Phone number</h3>
        <p><%= number_to_phone "4356199154" %></p>

        <h3>Address</h3>
        <p>42 W 475 N Circle, St George Utah, 84770</p>

        <h3>Email</h3>
        <p><a href="mailto:supelillywhite@gmail.com?subject=PortfolioContact" "email me">supelillywhite@gmail.com</a></p>
      </div>

      <div class="col-md-6 contact-opacity">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3181.5253264456865!2d-113.58632494930121!3d37.11641517978587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ca44c8723b9e95%3A0x678e2f2674383de0!2s42+W+475+N+Cir%2C+St+George%2C+UT+84770!5e0!3m2!1sen!2sus!4v1513179232164" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
