<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Want a badass website? You've come to the right place.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-primary" %>
  </p>
</main>

