<main role="main" class="inner cover">
  <div class="home-text">
  <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">This is the cyber home of Supe Lillywhite.</p>
    <p class="lead">Full stack web developer. Rock climber.  Mountain biker.  Inventor.</p>
    <p class="lead">Let's start an adventure together!</p>
  </div>
</main>

